@page "/"
@inject INotificationService NotificationService

<h1>Hello, world!</h1>
<DefaultButton Text="Request permission" OnClick=@(() => RequestPermissionAsync()) />
<PrimaryButton Text="Send notification" OnClick=@(() => SendNotification()) />

@code {
	private bool isSupportedNotification { get; set; }
	PermissionType permission { get; set; }

	protected override async Task OnInitializedAsync()
	{
		isSupportedNotification = await NotificationService.IsSupportedByBrowserAsync();
		permission = await NotificationService.RequestPermissionAsync();
	}

	private async Task RequestPermissionAsync()
	{
		permission = await NotificationService.RequestPermissionAsync();
	}

	private async Task SendNotification(string title = "UniversityAssistant", string body = "", string icon = "")
	{
		var options = new NotificationOptions
		{
			Body = body,
			Icon = icon
		};

		await NotificationService.CreateAsync(title, options);
	}
}
