@page "/"
@inject INotificationService NotificationService

<h1>Hello, world!</h1>
<DefaultButton Text="Request permission" OnClick=@(() => RequestPermissionAsync()) />
<PrimaryButton Text="Send notification" OnClick=@(() => SendNotificationAsync()) Disabled="NotificationService.PermissionStatus != PermissionType.Granted"/>

@code {
	protected override async Task OnInitializedAsync()
	{
		await RequestPermissionAsync();
	}

	private async Task RequestPermissionAsync()
	{
		await NotificationService.RequestPermissionAsync();
	}

	private async Task SendNotificationAsync(string title = "UniversityAssistant\\index", string body = "", string icon = "")
	{
		var options = new NotificationOptions
		{
			Body = body,
			Icon = icon
		};
		await NotificationService.CreateAsync(title, options);
	}
}
