@page "/"
@inject IJSRuntime JSRuntime
@inject ILocalStorageService LocalStorage

<h1>Hello, world!</h1>
<PrimaryButton Text="Send notification" OnClick=@(() => SendNotificationAsync()) />

@code {
	private async Task SendNotificationAsync()
	{
		var endpoint = await LocalStorage.GetItemAsync<string>("endpoint");
		var p256dh = await LocalStorage.GetItemAsync<string>("p256dh");
		var auth = await LocalStorage.GetItemAsync<string>("auth");
		var subscription = new PushSubscription(endpoint, p256dh, auth);

		var payload = new NotificationPayload("Send notification", "/");
		await NotificationController.SendNotificationAsync(subscription, payload);
	}

}
