<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">UniversityAssistant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<!-- spanタグ内のclassアイコン参照: https://iconify.design/icon-sets/oi/ -->

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <p class="user">@context.User.Identity.Name</p>
	    	    </Authorized>
                <NotAuthorized>
                    <p class="user">Guest user</p>
	    	    </NotAuthorized>
	        </AuthorizeView>
		</li>
        <li class="nav-item px-3">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="nav-item nav-link" href="signout" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Sign out
					</NavLink>
				</Authorized>
                <NotAuthorized>
                    <NavLink class="nav-item nav-link" href="signin" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Sign in
	    	        </NavLink>
				</NotAuthorized>
			</AuthorizeView>
		</li>
	</ul>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
		</li>
    </ul>
</div>

<br>
<div class="@NavMenuCssClass nav-item px-3 flex-column">
    <Clock />
    <AuthorizeView>
        <Authorized>
            <TimeTable />
		</Authorized>
	</AuthorizeView>
</div>

@using System.Timers
@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
